{% extends "base.html" %}

{% block includes %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/tasks.css' %}">
{% endblock %}

{%block content %}
    {% if user.is_authenticated %}
        <div class="content d-flex flex-column col-12">
            <div class="header d-flex justify-content-center col-12">
                <div id="timer" class="timer green"></div>
                <a class="btn btn-codefeatly logout_btn" href="{% url 'logout' %}">Log out</a>
            </div>
            <div class="main-container d-flex col-12 flex-grow-1">
                <div class="tasks-container d-flex flex-column">
                    <button class="btn btn-codefeatly">Task 1</button>
                    <button class="btn btn-codefeatly">Task 2</button>
                    <button class="btn btn-codefeatly">Task 3</button>
                    <button class="btn btn-codefeatly">Task 4</button>
                    <button class="btn btn-codefeatly">Task 5</button>
                    <button class="btn btn-codefeatly">Task 1</button>
                    <button class="btn btn-codefeatly">Task 2</button>
                </div>
                <div class="task d-flex flex-column"></div>
                <div class="submit-container d-flex flex-column"></div>
            </div>
        </div>
    {% else %}
        <div class="auth-content d-flex flex-column justify-content-center">
            <div class="auth-container d-flex flex-column justify-content-center col-xl-5 col-lg-6 col-md-7 col-sm-9 col-10">
                <h1 class="title green">Authenticate first</h1>
                <a class="btn btn-codefeatly" href="{% url 'index' %}">Back to index page</a>
            </div>
            <div class="title green emoji">╰(◉ᾥ◉)╯</div>
        </div>
        <script type="text/javascript">
            $('body, .container-fluid').css('overflow', 'hidden');
            var next_pos = {"top": window.innerHeight / 2 - $('.emoji').height() / 2,
                            "left": window.innerWidth - $('.emoji').width(),
                            "pos_num": 1,
                           };
            function animate() {
                $('.emoji').addClass('rotate');
                $('.emoji').animate({
                    top: next_pos['top'].toString(),
                    left: next_pos['left'].toString(),
                }, 3000, function() {
                    switch (next_pos["pos_num"]) {
                        case 0:
                            next_pos["top"] = window.innerHeight / 2 - $('.emoji').height() / 2;
                            next_pos["left"] = window.innerWidth - $('.emoji').width();
                            next_pos["pos_num"] ++;
                            break;
                        case 1:
                            next_pos["top"] = window.innerHeight - $('.emoji').height();
                            next_pos["left"] = window.innerWidth / 2 - $('.emoji').width() / 2;
                            next_pos["pos_num"] ++;
                            break;
                        case 2:
                            next_pos["top"] = window.innerHeight / 2 - $('.emoji').height() / 2;
                            next_pos["left"] = 0;
                            next_pos["pos_num"] ++;
                            break;
                        case 3:
                            next_pos["top"] = 0;
                            next_pos["left"] = window.innerWidth / 2 - $('.emoji').width() / 2;
                            next_pos["pos_num"] = 0;
                            break;
                    }
                    $(this).removeClass('rotate');
                });
            }
            animate();
            setInterval(animate, 3200);
        </script>
    {% endif %}
{% endblock %}