.emoji {
    position: absolute;
    top: 0;
}

.auth-content {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.auth-container {
    align-items: center;
}

.rotate {
    -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}