body, .container-fluid {
    margin: 0;
    padding: 0;
    background: #131619;
    min-height: 100vh;
}

.container-fluid, .content {
    align-items: center;
}

.content {
    width: 100%;
    flex: 1 0 auto;
}

.title {
    font-size: 43px;
    margin: 0 0 20px 0;
    letter-spacing: 3px;
    color: #27292ce6;
}

@media only screen and (max-width: 960px) {
    .title {
        font-size: 37px;
    }
}

@media only screen and (max-width: 720px) {
    .title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 27px;
    }
}

.green {
    color: #4dbd00;
}

.transparent {
    color: transparent;
}

.login-container {
    min-height: 370px;
    padding: 20px;
	background-color: #5556574f;
	border-radius: 20px;
	align-items: center;
	flex-grow: 0.25;
}

.input {
    background-color: #131619;
    border: none;
    border-radius: 7px!important;
    height: 55px;
    margin: 0 0 25px 0!important;
    font-size: 20px;
    color: rgba(77, 189, 0, 0.7);
    letter-spacing: 0.7px;
}

.input:focus {
    background-color: #131619;
    box-shadow: 0 0 0 .2rem rgba(77, 189, 0, 0.44);
    cursor: unset;
}

.show_hide_pwd_btn {
    position: absolute;
    padding: 0;
    right: 0;
    width: 55px;
    height: 55px;
    color: #4dbd00;
    border: none;
    background-color: #131619;
    border-radius: 0 7px 7px 0;
    z-index: 3;
}

.show_hide_pwd_btn:hover {
    color: #4dbd00;
}

.show_hide_pwd_btn:focus {
    box-shadow: none;
}

.btn-login {
    width: 90%;
    margin: 15px 0 0 0;
    height: 50px;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border: 3px solid #5556574f;
    transition: 0.8s ease;
    border-radius: 10px;
}

.btn-login:hover,
.btn-login:focus {
    width: 100%;
    background-color: rgba(77, 189, 0, 0.7);
    color: #ffffff;
    border: 3px solid #5556574f;
    box-shadow: none;
}

p {
    margin: 10px 0;
}

.signup-text {
    position: absolute;
    bottom: 5px;
    font-size: 18px;
    color: #ffffff;
}

a {
    color: #4dbd00;
}

a:hover {
    color: #4dbd00;
}

.quote_container {
    width: 100%;
    padding: 0;
    font-family: Times;
    font-size: 20px;
    color: #4dbd00;
    text-align: center;
}
