{% extends "base.html" %}

{% block includes %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'adminpanel/manager.css' %}">
    <script src="{% static 'base/fontawesome/fontawesome_all.js' %}"></script>
    <script src="{% static 'base/moment/moment.min.js' %}"></script>
    <script src="{% static 'base/tempusdominus_bootstrap/tempusdominus-bootstrap-4.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="content d-flex flex-column col-12">
        <div class="main-container d-flex col-12 flex-grow-1">
            <div class="sidebar d-flex flex-column">
                <h3 class="green">Tasks</h3>
                <div class="tasks-container d-flex flex-column">
                    <button class="btn btn-codefeatly">Task 1</button>
                    <button class="btn btn-codefeatly">Task 2</button>
                    <button class="btn btn-codefeatly">Task 3</button>
                    <button class="btn btn-codefeatly">Task 4</button>
                    <button class="btn btn-codefeatly">Task 5</button>
                    <button class="btn btn-codefeatly btn-expanding add-task">Add task</button>
                </div>
                <div class="hr"></div>
                <div class="time-picker-container d-flex flex-column">
                    <h3 class="green">Contest time</h3>
                    <form class="time-picker-form d-flex flex-column" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="form-group">
                           <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input input cal-input" data-target="#datetimepicker1"/>
                                <span class="input-group-append input-group-btn" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <font class="btn d-flex justify-content-center calendar">
                                        <i class="far fa-calendar-alt"></i>
                                    </font>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                           <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input input cal-input" data-target="#datetimepicker2"/>
                                <span class="input-group-append input-group-btn" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <font class="btn d-flex justify-content-center calendar">
                                        <i class="far fa-calendar-alt"></i>
                                    </font>
                                </span>
                            </div>
                        </div>
                        <button class="btn btn-codefeatly btn-expanding submit-time">Save time</button>
                        <script type="text/javascript">

                            $(function () {
                                $('#datetimepicker1').datetimepicker({
                                    minDate: moment(),
                                    format: 'DD.MM.YYYY, HH:mm',
                                    icons: {
                                        'time': 'far fa-clock green',
                                        'up': 'fas fa-chevron-up green',
                                        'down': 'fas fa-chevron-down green',
                                    }
                                });
                                $('#datetimepicker2').datetimepicker({
                                    minDate: moment(),
                                    useCurrent: false,
                                    format: 'DD.MM.YYYY, HH:mm',
                                    icons: {
                                        'time': 'far fa-clock green',
                                        'up': 'fas fa-chevron-up green',
                                        'down': 'fas fa-chevron-down green',
                                    }
                                });
                                $("#datetimepicker1").on("change.datetimepicker", function (e) {
                                    $('#datetimepicker2').datetimepicker('minDate', e.date);
                                });
                                $("#datetimepicker2").on("change.datetimepicker", function (e) {
                                    $('#datetimepicker1').datetimepicker('maxDate', e.date);
                                });
                            });
                        </script>
                    </form>
                </div>
                <div class="hr"></div>
                <a class="btn btn-codefeatly logout_btn" href="{% url 'main:logout' %}">Log out</a>
            </div>
            <div class="manager d-flex flex-column"></div>
        </div>
    </div>
{% endblock %}